Repository synapse-framework/synapse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @synapse-framework/core-team, @synapse-framework/architecture-team, @synapse-framework/rust-team, @synapse-framework/cli-team, @synapse-framework/devops-team, @synapse-framework/ui-team, @synapse-framework/design-team, @synapse-framework/qa-team, @synapse-framework/docs-team, @synapse-framework/typescript-team, @synapse-framework/security-team, @synapse-framework/community-team, @synapse-framework/mobile-team

test(workflow): add test file to verify Git workflow
  test-workflow.md
Owners: @synapse-framework/docs-team, @synapse-framework/core-team

feat(compiler): implement quantum compilation mode
  quantum-output/quantum-test1.ts
  quantum-output/quantum-test2.ts
  quantum-output/quantum-test3.ts
  rust-compiler/Cargo.toml
  rust-compiler/src/lib.rs
  rust-compiler/src/main.rs
  rust-compiler/src/quantum.rs
  test-files/quantum-test1.ts
  test-files/quantum-test2.ts
  test-files/quantum-test3.ts
Owners: @synapse-framework/core-team, @synapse-framework/rust-team

fix(ci): comprehensive workflow fixes
  .github/workflows/ci.yml
  QUANTUM_COMPILATION.md
  package.json
Owners: @synapse-framework/devops-team, @synapse-framework/security-team, @synapse-framework/docs-team, @synapse-framework/core-team

fix(workflows): comprehensive workflow fixes across all files
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Owners: @synapse-framework/devops-team, @synapse-framework/security-team

fix(ci): fix workflow syntax error
  .github/workflows/ci.yml
Owners: @synapse-framework/devops-team, @synapse-framework/security-team

fix(ci): simplify UI build conditionals
  .github/workflows/ci.yml
Owners: @synapse-framework/devops-team, @synapse-framework/security-team

fix(ci): convert commitlint config to ES module syntax
  commitlint.config.js
Owners: @synapse-framework/devops-team, @synapse-framework/security-team

.github/CODEOWNERS:

# Global owners
* @synapse-framework/core-team

# Core framework files
/packages/core/ @synapse-framework/core-team @synapse-framework/architecture-team
/src/ @synapse-framework/core-team @synapse-framework/architecture-team
/rust-compiler/ @synapse-framework/core-team @synapse-framework/rust-team

# CLI and tooling
/packages/cli/ @synapse-framework/cli-team @synapse-framework/core-team
/scripts/ @synapse-framework/devops-team @synapse-framework/core-team

# UI and components
/packages/ui/ @synapse-framework/ui-team @synapse-framework/design-team
/website/ @synapse-framework/ui-team @synapse-framework/design-team
/storybook/ @synapse-framework/ui-team @synapse-framework/design-team

# Testing and quality
/packages/testing/ @synapse-framework/qa-team @synapse-framework/core-team
/test-*.js @synapse-framework/qa-team @synapse-framework/core-team
*.test.js @synapse-framework/qa-team @synapse-framework/core-team
*.spec.js @synapse-framework/qa-team @synapse-framework/core-team

# Documentation
/docs/ @synapse-framework/docs-team @synapse-framework/core-team
*.md @synapse-framework/docs-team @synapse-framework/core-team
README.md @synapse-framework/docs-team @synapse-framework/core-team

# Configuration files
package.json @synapse-framework/core-team @synapse-framework/devops-team
tsconfig.json @synapse-framework/core-team @synapse-framework/typescript-team
Makefile @synapse-framework/devops-team @synapse-framework/core-team

# GitHub workflows and security
/.github/ @synapse-framework/devops-team @synapse-framework/security-team
/.github/workflows/ @synapse-framework/devops-team @synapse-framework/security-team
/.github/security-policy.yml @synapse-framework/security-team
/.github/dependabot.yml @synapse-framework/security-team @synapse-framework/devops-team

# Security-related files
SECURITY.md @synapse-framework/security-team
/.husky/ @synapse-framework/devops-team @synapse-framework/security-team
commitlint.config.js @synapse-framework/devops-team @synapse-framework/security-team

# Community and ecosystem
/community/ @synapse-framework/community-team @synapse-framework/core-team
/examples/ @synapse-framework/community-team @synapse-framework/core-team

# Mobile development
/packages/mobile/ @synapse-framework/mobile-team @synapse-framework/core-team

# Build and distribution
/dist/ @synapse-framework/devops-team @synapse-framework/core-team
/build/ @synapse-framework/devops-team @synapse-framework/core-team

# Dependencies and lock files
package-lock.json @synapse-framework/devops-team @synapse-framework/security-team
yarn.lock @synapse-framework/devops-team @synapse-framework/security-team
Cargo.lock @synapse-framework/rust-team @synapse-framework/security-team

# Environment and secrets
.env* @synapse-framework/security-team @synapse-framework/devops-team
*.key @synapse-framework/security-team
*.pem @synapse-framework/security-team
*.p12 @synapse-framework/security-team

# Docker and containers
Dockerfile* @synapse-framework/devops-team @synapse-framework/security-team
docker-compose*.yml @synapse-framework/devops-team @synapse-framework/security-team
.dockerignore @synapse-framework/devops-team @synapse-framework/security-team

# CI/CD and deployment
/.github/workflows/ci.yml @synapse-framework/devops-team @synapse-framework/security-team
/.github/workflows/security.yml @synapse-framework/security-team
/.github/workflows/publish.yml @synapse-framework/devops-team @synapse-framework/security-team
/.github/workflows/release.yml @synapse-framework/devops-team @synapse-framework/security-team
